@model UniversityWebsite.Model.Menu.LanguageMenuViewModel
            <li class="has-dropdown not-click"><a href="#">@Model.Current</a>
                <ul class="dropdown">
        @foreach (var language in Model.Items)
        {
            <li>
                @if (language.Href == null)
                {
                    @Html.ActionLink(language.Text, "Index", "Home", new { l = language.CountryCode }, null)
                }
                else
                {
                    <a href="@language.Href">@language.Text</a>
                }
            </li>
        }
                </ul>
            </li>