@model UniversityWebsite.ViewModels.Layout.LanguageSwitcherViewModel
<nav class="main-menu">
    <ul>

        @foreach (var language in Model.Languages)
        {
            <li>
                @if (!language.IsPage)
                {
                    @Html.ActionLink(@language.CountryCode, ViewContext.RouteData.Values["action"].ToString(), new {language = language.CountryCode});
                }
                else
                {
                    @Html.ActionLink(@language.CountryCode, "Index", new {pagename=language.UrlName});
                }
            </li>
        }

    </ul>

</nav>
