<!DOCTYPE html>
@{
    var mainMenuViewModel = ViewData["menu"];
    var languageSwitcherViewModel = ViewData["langSw"];
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        body {
            background-color: red;
        }
    </style>
    @RenderSection("Styles", false)
</head>
<body>
    @{
        Html.RenderPartial("_MainMenu", mainMenuViewModel);
        Html.RenderPartial("_LanguageSwitcher", languageSwitcherViewModel);
    }
    <div>
        @RenderBody()
    </div>
</body>
@RenderSection("Scripts", false)
</html>
