<div class="medium-12 columns">
    <div class="row">
        <div class="medium-12 columns">
            Studenty
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 columns">
            <ul class="vcard">
                <li dir-paginate="student in students| itemsPerPage: studentsPerPage"
                    total-items="totalStudents"
                    current-page="pagination.current"
                    pagination-id="students">
                    {{student.LastName}} {{student.FirstName}}
                </li>
            </ul>
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"
                                     pagination-id="students" />
        </div>
    </div>
</div>