<!--<div class="row">
                    <div class="medium-2 columns">
                        <input type="text" placeholder="rrrr-mm-dd" />
                    </div>
                    <div class="medium-2 columns">
                        <input type="text" placeholder="rrrr-mm-dd" />
                    </div>
                    <div class="small-2 columns">
                        <button type="submit">Filtruj</button>
                    </div>
                    <div class="medium-5 columns"></div>
                </div>-->
<div class="row">
    <div class="medium-12 columns">
        <button class="button small" ng-click="createNews()">Add new</button>
    </div>
</div>
<div class="row">

    <div class="medium-12 columns panel" ng-repeat="news in subject.News | orderBy: '-PublishDate'" ng-controller="newsFormCtrl" ng-init="init(news)">

        <div ng-hide="!formHide" ng-click="edit()" class="mousetrap">
            <div class="row">
                <div class="medium-12 columns">
                    <h5>{{news.Header}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <h5>{{news.PublishDate}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <span class="news-content" ng-bind-html="news.Content | limitTo: newsMaxLength | sanitize "></span>
                </div>
            </div>
        </div>

        <div ng-hide="formHide">
            <form name="form" novalidate class="css-form">
                <div class="row">
                    <div class="medium-12 columns">
                        <input type="text" ng-model="news.Header" required placeholder="Header" />
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <textarea ui-tinymce="tinymceOptions" data-ng-model="news.Content" required></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <ul class="button-group">
                            <li><button class="button small" type="submit" ng-click="updateNews(subject, news); $event.stopPropagation();">Update</button></li>
                            <li><button class="button small danger" ng-click="remove(subject, news)">Remove</button></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>
