<h3>{{subject.Name}}</h3>

<style>
    .mousetrap {
        height: 100px;
    }
    .accordion dd {
        margin-bottom: 20px !important;
    }
</style>

<accordion>
    <accordion-group heading="News">
        <div class="row">
            <div class="medium-2 columns">
                <input type="text" placeholder="rrrr-mm-dd"/>
            </div>
            <div class="medium-2 columns">
                <input type="text" placeholder="rrrr-mm-dd"/>
            </div>
            <div class="small-2 columns">
                <button type="submit">Filtruj</button>
            </div>
            <div class="medium-5 columns"></div>
        </div>
        <div class="row">
            <div ng-repeat="news in subject.News">
                <span>{{news.Header}}</span>
                <div>
                    <textarea ui-tinymce="tinymceOptions" data-ng-model="news.Content" class="mousetrap"></textarea>
                </div>
            </div>
        </div>
    </accordion-group>
    <accordion-group heading="Plan zajec">
        <div>
            Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing eaccordion-groupt, sed do eiusmod tempor incididunt ut labore et dolore magna aaccordion-groupqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aaccordion-groupquip ex ea commodo consequat.
        </div>
    </accordion-group>
    <accordion-group heading="Sylabus">
        <div>
            Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing eaccordion-groupt, sed do eiusmod tempor incididunt ut labore et dolore magna aaccordion-groupqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aaccordion-groupquip ex ea commodo consequat.
        </div>
    </accordion-group>
    <accordion-group heading="Materialy dydaktyczne">
        <div>
            Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing eaccordion-groupt, sed do eiusmod tempor incididunt ut labore et dolore magna aaccordion-groupqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aaccordion-groupquip ex ea commodo consequat.
        </div>
    </accordion-group>
    <accordion-group heading="Wyniki">
        <div>
            Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing eaccordion-groupt, sed do eiusmod tempor incididunt ut labore et dolore magna aaccordion-groupqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aaccordion-groupquip ex ea commodo consequat.
        </div>
    </accordion-group>
</accordion>