@model UniversityWebsite.Model.TeachingVm
@{
    string teachingString = GetPhrase("teaching");
    string semesterString = GetPhrase("semester");
    ViewBag.Title = teachingString;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{Html.RenderPartial("~/Views/Shared/_NavMenu.cshtml", Model.NavMenu);}
<h2>@teachingString</h2>

@for (int i = 1; i <= Model.SemestersCount; i++)
{   
    var href = Url.Action("Semester", new {number = i});

    @TileHelpers.ImageTile(href, semesterString + " " + i, "/Content/images/semester.jpg")
}