@model UniversityWebsite.Model.TeachingVm
@{
    string teachingString = GetPhrase("teaching");
    string semesterString = GetPhrase("semester");
    ViewBag.Title = teachingString;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
        .card {
            margin-top: 20px;
        }

        .top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
            background: #003C58;
        }
    </style>
}
@{Html.RenderPartial("~/Views/Shared/_NavMenu.cshtml", Model.Siblings);}
<h2>@teachingString</h2>

@for (int i = 1; i <= Model.SemestersCount; i++)
{   
    <div class="medium-4 columns">
        <div class="card">
            <a href="@Url.Action("Semester", new { number = i })">
                <img src="https://www.pw.edu.pl/var/pw/storage/images/studenci/aktualnosci/swiatowy-tydzien-przedsiebiorczosci-w-biurze-karier-pw/131705-1-pol-PL/Swiatowy-Tydzien-Przedsiebiorczosci-w-Biurze-Karier-PW.jpg" />
            </a>
            <div class="card-divider"></div>
            <div class="content">
                <span class="title">@semesterString @i</span>
            </div>
        </div>
    </div>
}