@using UniversityWebsite.Services.Model
@model UniversityWebsite.Model.SemesterVm

@{
    string semesterString = GetPhrase("semester");
    ViewBag.Title = semesterString;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {

    <style>
        .card {
            margin-top: 20px;
        }

        .top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
            background: #003C58;
        }
    </style>
}
@{Html.RenderPartial("~/Views/Shared/_NavMenu.cshtml", Model.Siblings);}
<h2>@semesterString</h2>

<ul>
    @foreach (var subject in Model.Subjects)
    {
        <li>
            @Html.ActionLink(subject.SubjectName, "Subject", new{ name = subject.SubjectUrlName })<br/>
            @switch (subject.SignUpAction)
            {
                case SignUpAction.InProgress:
                    <text>Nauczyciel jest w trakcie akceptacji.</text>
                    break;
                case SignUpAction.Refused:
                <text>Nauczyciel odrzucił prośbę.</text>
                    break;
                case SignUpAction.Resign:
                <text>Wypisz się.</text>
                    break;
                case SignUpAction.Submit:
                <text>Zapisz się.</text>
                    break;
            }
        </li>
    }
</ul>