@using System.Web.UI.WebControls
@using UniversityWebsite.Model
@using UniversityWebsite.Services.Model
@model UniversityWebsite.Model.SemesterVm

@{
    string semesterString = GetPhrase("semester");
    ViewBag.Title = semesterString;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {

    <style>
        .top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
            background: #003C58;
        }
    </style>
}
@{Html.RenderPartial("~/Views/Shared/_NavMenu.cshtml", Model.Siblings);}
<h2>@semesterString @Model.Number</h2>


@foreach (var subject in Model.Subjects)
{
    Action content = null;
    if (subject.SignUpAction != SignUpAction.None)
    {
        var localSubject = subject;
        content = () => Html.RenderPartial("_SignUpStatus", localSubject);
    }
    var href = Url.Action("Subject", new {name = subject.SubjectUrlName});
    
    @TileHelpers.TextTile(href, subject.SubjectName, content)
}
<script>
    $(function () {
        $(document).on('submit', '.sign-up-status-form', function (e) {
            e.preventDefault();
            var t = $(this);
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    t.parent().html(result);
                }
            });
            return false;
        });
    });
</script>
