@model UniversityWebsite.Model.Page.PageViewModel
@{Layout = "~/Views/Shared/_Layout.cshtml";}
@{
    var teachingString = GetPhrase("teaching");
    var homeString = GetPhrase("home");
    ViewBag.Title = Model.Title;
}
<style>
    .top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
        background: #003C58;
    }
</style>

@{Html.RenderPartial("~/Views/Shared/_NavMenu.cshtml", Model.NavMenu);}
<div class="row">
    <div class="medium-12 columns">
        <h3>
            @Model.Title
        </h3>
    </div>
</div>
<div class="row">
    <div class="medium-12 columns">
        <div>
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>
