@model UniversityWebsite.Model.Page.PageViewModel
@{Layout = "~/Views/Shared/_Layout.cshtml";}

<style>
    .top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
        background: #003C58;
    }
</style>

<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="@Url.Action("Index", "Home")"><i class='fi-home'></i></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
            
        </ul>

        <ul class="left">
            @foreach (var item in Model.Siblings.AsEnumerable().Reverse())
            {
                <li>@Html.ActionLink(item.Title, "Index", "Page", new { name = item.UrlName })</li>
                @*<li class="has-dropdown">
                <a href="#">Right Button Dropdown</a>
                <ul class="dropdown">
                    <li><a href="#">First link in dropdown</a></li>
                    <li class="active"><a href="#">Active link in dropdown</a></li>
                </ul>
            </li>*@
            }
        </ul>
    </section>
</nav>
<div class="row">
    <div class="medium-12 columns">
        <h3>
            @Model.Title
        </h3>
    </div>
</div>
<div class="row">
    <div class="medium-12 columns">
        <div>
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>
