@model UniversityWebsite.Model.PageViewModel
@{Layout = "~/Views/Shared/_Layout.cshtml";}

<div class="row">
    <div class="medium-12 columns">
        <h3>
            @Model.Title
        </h3>
    </div>
</div>
<div class="row">
    <div class="medium-12 columns">
        <div>
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>
