@model UniversityWebsite.ViewModels.PageViewModel
@{Layout = "~/Views/Shared/_Layout.cshtml";}

<h1>
    STRONA o nazwie @Model.Name i języku @Model.Language
</h1>
<article>
    @Html.Raw(Model.Content)
</article>
