<div class="row fullWidth">
    <div class="medium-2 columns">
        <h3>Pages</h3>
        <div class="row">
            <div class="medium-12 columns">
                <label>
                    <input type="text" placeholder="Search" ng-model="searchPage" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                <ul class="custom-side-nav">
                    <li ng-animate="'animate'" ng-repeat="page in pages | filter:searchPage">
                        <div ng-click="">{{page.UrlName}} <button class="button tiny" ng-click="addToMenu(page)">+</button></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="large-10 columns">
        <tabset>
            <tab ng-repeat="menu in menus" heading="{{menu.CountryCode}}" ng-class="{active: activeMenu = 'das'}">
                <h4>{{menu.CountryCode}}</h4>
                <ul>
                    <li ng-repeat="menuItem in menu.Items">
                        {{menuItem.Title}}
                    </li>
                </ul>
            </tab>
        </tabset>
    </div>

</div>
