<style>
    .mousetrap {
        height: 100px;
    }

    .accordion dd {
        margin-bottom: 20px !important;
    }
    button.tiny, .button.tiny {
        margin: 0;
        
    }
    .custom-side-nav li a:not(.button) {
        padding: 0;
    }
    .custom-side-nav li {
        padding: 0.4375rem 0.875rem;
    }

</style>

<div class="row fullWidth">
    <div class="medium-2 columns">
        <h3>Menus</h3>
        <div class="row">
            <div class="medium-12 columns">
                <label>
                    <input type="text" placeholder="Search" ng-model="searchPage" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                <ul class="custom-side-nav">
                    <li class="row" ng-repeat="page in pages | filter:searchPage">
                        <span class="small-8 columns">{{page.UrlName}}</span>
                        <div class="small-4 columns">
                            <a ng-click="addToMenu(page)">+</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="large-10 columns">
        <tabset>
            <tab ng-repeat="menu in menus" heading="{{menu.CountryCode}}" ng-click="menuChanged(menu)">
                <div class="row">
                    <button class="button small" ng-click="update(menu)">Update</button>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <accordion>
                            <accordion-group ng-repeat="menuItem in menu.Items | orderBy: '-Order': true" collapsible="true">
                                <accordion-heading>
                                    <div class="row">
                                        <div class="medium-8 columns">
                                            {{menuItem.Title}}
                                        </div>
                                        <div class="medium-2 columns">
                                            <button class="button tiny" ng-click="moveUp(menuItem, menu.Items); $event.stopPropagation();" ng-disabled="menuItem.Order==0">Up</button>
                                        </div>
                                        <div class="medium-2 columns">
                                            <button class="button tiny" ng-click="moveDown(menuItem, menu.Items); $event.stopPropagation();" ng-disabled="menuItem.Order==menu.Items.length-1">Down</button>
                                        </div>
                                    </div>
                                </accordion-heading>
                                <div>
                                    <label>
                                        Label
                                        <input type="text" ng-model="menuItem.Title" />
                                    </label>
                                    <a ng-click="remove(menuItem, menu.Items)">Remove</a>
                                </div>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>

</div>
