<tabset>
    <tab heading="Languages">
        <div class="row fullWidth">

            <div class="medium-6 columns">
                <div class="row">
                    <div class="medium-12 columns">
                        <button class="button success" value="Save" ng-click="startWizard(); $event.stopPropagation();">Add new language</button>
                    </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th width="150">Full name</th>
                            <th>Code</th>
                            <th>Order</th>
                            <th>Flag</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="language in languages">
                            <td><a ng-click="edit(language)">{{language.Title}}</a></td>
                            <td>{{language.CountryCode}}</td>
                            <td>{{language.Order}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </tab>
    <tab heading="Strings translation">
        <div ng-include="translationList.url"></div>
    </tab>
</tabset>
