<style>
    .translations {
        max-height: 400px !important; 
        overflow-y: scroll !important;
    }
</style>

<h2>New language</h2>
<span>{{translation}}</span>
<tabset>
    <tab heading="Languages">
        <div class="row">
            <form name="languageForm" novalidate class="css-form" ng-submit="save()">
                <div class="medium-12 columns">
                    <div class="row">
                        <div class="medium-6 columns">
                            <label>
                                Full name
                                <input type="text" ng-model="language.Title" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-6 columns">
                            <label>
                                Language code
                                <input type="text" ng-model="language.CountryCode" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-6 columns">
                            <label>
                                Order
                                <input type="text" ng-model="language.Order" />
                            </label>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </tab>
    <tab heading="Strings translation">
        <div class="row translations">
            <div class="medium-12 columns">
                <table>
                    <thead>
                        <tr>
                            <th width="150">Key</th>
                            <th>Translations</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(code, translationValue) in language.Words">
                            <td>{{code}}</td>
                            <td><input type="text" ng-model="language.Words[code]" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </tab>
</tabset>
<div class="modal-footer">
    <a class="secondary button" ng-click="cancel()">Cancel</a>
    <a class="button alert" ng-click="ok()">Confirm</a>
</div>
