
<div class="row">
    <div class="medium-12 columns">
        <h3>{{user.FirstName + " " + user.LastName}}</h3>
    </div>
</div>

<tabset>
    <tab heading="Basic info">
        <form name="userForm" novalidate class="css-form" ng-submit="update()" ng-controller="userEditCtrl">
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label>
                        First Name
                        <input type="text" placeholder="First name" required ng-model="user.FirstName" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label>
                        Last Name
                        <input type="text" placeholder="Last name" required ng-model="user.LastName" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label>
                        Email
                        <input type="email" placeholder="Email" required ng-model="user.Email" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label>
                        Index number
                        <input type="text" placeholder="IndexNumber" required ng-model="user.IndexNumber" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label>
                        Pesel
                        <input type="text" placeholder="Pesel" required ng-model="user.Pesel" />
                    </label>
                </div>
            </div>
            
            <!--<div class="row" ng-hide="$stateParams.userId == 'newUser'">
                <div class="small-12 medium-6 columns">
                    <label>
                        <input type="checkbox" ng-model="changePassword" />
                        Change password
                    </label>
                </div>
            </div>-->
            
            <!--<div class="row" ng-if="changePassword">
                <div class="small-12 medium-6 columns">
                    <label>
                        Password
                        <input type="text" placeholder="password" required ng-model="user.Password" style="font-weight: bold"/>
                    </label>
                </div>
            </div>-->
            <!--<div class="row" ng-if="changePassword">
                <div class="small-12 medium-6 columns">
                    <label>
                        Confirm password
                        <input type="password" placeholder="confirm password" required ng-model="user.ConfirmPassword" />
                    </label>
                </div>
            </div>-->
            
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label>
                        Role
                        <select ng-model="user.Role" name="role" required>
                            <option  ng-repeat="role in roles" value="{{role}}">{{role}}</option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-6 columns">
                    <button class="button small" type="submit">Update</button>
                </div>
            </div>
        </form>
    </tab>
    <tab heading="Subjects">
        <form name="userSubjectsForm" novalidate class="css-form" ng-submit="update()" ng-controller="userSubjectsEditCtrl">
            <div class="row">
                <div class="medium-12 columns">
                    <h5>Owned subjects</h5>
                    <div class="row" ng-repeat="subject in user.OwnedSubjects">
                        <div class="medium-12 columns">
                            {{subject.Name}} <a ng-click="removeOwnedSubject(subject)"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="medium-12 columns">
                    <h5>Participated subjects</h5>
                    <div class="row" ng-repeat="subject in user.ParticipatedSubjects">
                        <div class="medium-12 columns">
                            {{subject.Name}} <a ng-click="removeParticipatedSubject(subject)"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </tab>
</tabset>