<div class="row">
    <div class="medium-12 columns">
        <label>
            Title
            <input type="text" ng-model="menuItem.Title" />
        </label>
    </div>
</div>
<div class="row">
    <div class="medium-12 columns">
        <label>
            Description
            <textarea ng-model="menuItem.Description" rows="4"></textarea>
        </label>
    </div>
</div>
<div class="row">
    <div class="medium-12 columns">
        <ul class="button-group">
            <li>
                <label>
                    Image url
                    <input type="text" ng-model="menuItem.ImageUrl" />
                </label>
            </li>
            <li><button class="button small" ng-click="openGallery(menuItem)"><i class="fa fa-search"></i></button></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="medium-6 columns">
        <img ng-if="menuItem.ImageUrl != null" ng-src="{{menuItem.ImageUrl}}" style="max-height: 300px"/>
    </div>
</div>