<style>
    .page-details { margin-top: 2em; }
</style>

<div class="row fullWidth">
    <div class="large-2 columns">
        <div class="row">
            <div class="small-7 columns" style="padding-right: 0">
                <h3><i class="fi-page-multiple"></i>&nbsp;Pages</h3>
            </div>
            <div class="small-5 columns" style="text-align: right">
                <a  ng-click="add()"  style="margin-top: 0.2em; background: transparent; display: inline-block">
                    <i class="fi-page-add" style="font-size: 15pt"></i>
                    Add
                </a>
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                <label>
                    <input type="text" placeholder="Search" ng-model="searchPage"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                <ul class="custom-side-nav">
                    <li ng-animate="'animate'" ng-repeat="page in pages | filter:searchPage">
                        <a ui-sref="pages.edit({pageName:page.Title})">{{page.UrlName}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="large-10 columns page-details">
        <div ui-view class="row"></div>
    </div>

</div>