<div class="box left-box">
    <h4>Pages</h4>
    <div class="row">
        <div class="medium-12 columns">
            <label>
                <input type="text" placeholder="Search" ng-model="searchPage" />
            </label>
        </div>
    </div>
    <div class="row pages-list">
        <div class="medium-12 columns">
            <ul class="custom-side-nav">
                <li class="row" ng-repeat="page in pages | filter : searchPage | filter : pagesFilterExpression">
                    <span class="small-9 columns">{{page.Title}}</span>
                    <div class="small-3 columns">
                        <a ng-click="addToMenu(page)">+</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
