<div class="row">
    <div class="small-12 columns">
        <h1>Panel admina</h1>
    </div>
</div>

<div>
    <div class="row" data-equalizer>
        <div class="large-6 columns">
            <a ui-sref="users">
                <div class="panel" data-equalizer-watch>
                    <h3>Użytkownicy</h3><span>Zarzadzaj użytkownikami systemu</span>
                </div>
            </a>
        </div>
        <div class="large-3 columns">
            <a href="Admin#/subjects">
                <div class="panel" data-equalizer-watch>
                    <h3>Przedmioty</h3><span>Zarządzaj i dodawaj nowe przedmioty</span>
                </div>
            </a>
        </div>
        <div class="large-3 columns">
            <a href="Admin#/navigationMenu">
                <div class="panel" data-equalizer-watch>
                    <h3>Menu nawigacyjne</h3><span>Dostosuj górne menu</span>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <a ui-sref="pages">
            <div class="large-12 columns">
                <div class="panel">
                    <h3>Strony</h3><span class="rb-temp">Modyfikuj i dodawaj nowe strony</span>
                </div>
            </div>
        </a>
    </div>

</div>

<script>
    $(document).foundation();
    $(document).foundation('equalizer', 'reflow');
</script>
