
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/Resources/Styles/home-style.css")" rel="stylesheet" type="text/css" />
}
<h2>Witaj na naszej stronie</h2>

