@using UniversityWebsite.Helper

@{
    ViewBag.Title = "Home";
    string lang = (string)ViewData["lang"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/Resources/Styles/home-style.css")" rel="stylesheet" type="text/css" />
}
<h2>@{ Html.RenderPhrase("witaj", lang);}</h2>

