@model UniversityWebsite.Model.HomeVm
@{
    string homeString = GetPhrase("home");
    var teachingString = GetPhrase("teaching");
    ViewBag.Title = homeString;
    string lang = (string)ViewData["lang"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <style>
        .top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
            background: #003C58;
        }
    </style>
}
@{Html.RenderPartial("~/Views/Shared/_NavMenu.cshtml", Model.NavMenu);}
@*<h2>@GetPhrase("welcome")</h2>

<form enctype="multipart/form-data" action="/api/file/gallery" method="post">
    <input type="file" name="myFile"/><br/>
    <button type="submit"></button><br/>
</form>*@
@foreach (var page in Model.Tiles)
{
    if (String.IsNullOrWhiteSpace(page.ImageUrl))
    {
        @TileHelpers.TextTile(page.UrlName, page.Title, page.Description)

    }
    else
    {
        @TileHelpers.ImageTile(page.UrlName, page.Title, page.ImageUrl, page.Description)
    }
}