@model List<UniversityWebsite.Model.TileViewModel>
@using UniversityWebsite.Helper@{
    ViewBag.Title = "Home";
    string lang = (string)ViewData["lang"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
}
@*<h2>@{ Html.RenderPhrase("1", lang);}</h2>*@
@foreach(var page in Model)
{   
    <div class="medium-4 columns">
        <div class="card">
            @*<a href="@page.UrlName"><img src="http://www.klbjfm.com/sites/g/files/exi626/f/article-images-featured/267731-147736.jpg"/></a>*@
            <a href="@page.UrlName"><img src="https://www.pw.edu.pl/var/pw/storage/images/studenci/aktualnosci/swiatowy-tydzien-przedsiebiorczosci-w-biurze-karier-pw/131705-1-pol-PL/Swiatowy-Tydzien-Przedsiebiorczosci-w-Biurze-Karier-PW.jpg" /></a>
            <div class="card-divider"></div>
            <div class="content">
                <span class="title">@page.Title</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem odio deleniti provident aliquam qui magnam aspernatur necessitatibus.</p>
            </div>
        </div>
    </div>
}



