<style>
    img {
        max-height: 200px;
    }

        img.selected {
            border: 2px solid red;
        }

    .gallery-image {
        margin-bottom: 2rem;
    }

    button.file-upload > input[type='file'] {
        cursor: pointer;
        position: absolute;
        font-size: 0;
        top: 0;
        left: 0;
        opacity: 0;
        height: 100%;
        width: 100%;
    }
</style>

<div class="row">
    <div class="medium-12 columns">
        <ul class="button-group">
            <li>
                <input type="file" file-model="newImage" />
            </li>
            <li>
                <button class="button small" ng-click="uploadImage()">
                    Upload
                </button>
            </li>
            <li>
                <button class="button small" ng-click="removeImages()">
                    Remove
                </button>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="small-12 medium-4 large-2 columns large-centered medium-centered small-centered">
        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
</div>
<div class="row fullWidth">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-3 columns gallery-image columns-align-left"
                 dir-paginate="image in images | itemsPerPage: imagesPerPage"
                 total-items="totalImages"
                 current-page="pagination.current">
                <img ng-class="{selected : image.selected}"
                     ng-src="/api/file/gallery/{{image.Id}}"
                     ng-click="imgClicked(image)" />
                <span>{{image.Name}}</span>
            </div>
        </div>

    </div>
</div>
