<style>
    button.file-upload > input[type='file'] {
        cursor: pointer;
        position: absolute;
        font-size: 0;
        top: 0;
        left: 0;
        opacity: 0;
        height: 100%;
        width: 100%;
    }
</style>

<div class="row">
    <div class="medium-12 columns">
        <ul class="button-group">
            <li>
                <input type="file" file-model="newImage" />
            </li>
            <li>
                <button class="button small" ng-click="uploadImage()">
                    Upload
                </button>
            </li>
            <li>
                <button class="button small" ng-click="removeImages()">
                    Remove
                </button>
            </li>
        </ul>
    </div>
</div>
<div class="container" ng-include="url"></div>
