<link href="/sass/Site.css" rel="stylesheet">
<script src="/Scripts/linq.min.js"></script>
<script src="/AdminApp/libs/angular/angular.min.js"></script>
<script src="/AdminApp/libs/angular/angular-route.min.js"></script>
<script src="/AdminApp/libs/angular/angular-animate.min.js"></script>
<script src="/AdminApp/libs/ui-router/angular-ui-router.min.js"></script>
<script src="/AdminApp/libs/angular/angular-resource.min.js"></script>
<script src="/AdminApp/libs/file-upload/ng-file-upload-all.js"></script>
<script src="/AdminApp/libs/pagination/dirPagination.js"></script>
<script src="/AdminApp/libs/spinner/spin.js"></script>
<script src="/AdminApp/libs/spinner/angular-spinner.js"></script>
<script src="/AdminApp/common/util-service.js"></script>
<script src="/AdminApp/services/filesService.js"></script>
<script src="/AdminApp/libs/mm-foundation-0.8.0.js"></script>
<script src="/AdminApp/gallery/gallery.js"></script>
<script src="/AdminApp/gallery/images-service.js"></script>
<script src="/AdminApp/gallery/controllers/galleryController.js"></script>
<script src="/AdminApp/galleryApp.js"></script>



<div ng-app="galleryApp" ng-controller="galleryCtrl">
    <div us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-2" ng-include="url"></div>
</div>