<h3>{{subject.Name}}</h3>



<accordion>
    <accordion-group heading="Aktualnosci">
        <div class="row">
            <div class="medium-2 columns">
                <input type="text" placeholder="rrrr-mm-dd"/>
            </div>
            <div class="medium-2 columns">
                <input type="text" placeholder="rrrr-mm-dd"/>
            </div>
            <div class="medium-8 columns"></div>
        </div>
        <accordion>
            <accordion-group heading="Post 4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2015-11-10">
                <div>
                    <textarea ui-tinymce="tinymceOptions" data-ng-model="subject.NewsContent" class="mousetrap">
                    </textarea>
                </div>
            </accordion-group>
            <accordion-group heading="Post 3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2015-11-09">
                <div>
                    <textarea ui-tinymce="tinymceOptions" data-ng-model="subject.NewsContent" class="mousetrap"></textarea>
                </div>
            </accordion-group>
            <accordion-group heading="Post 2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2015-11-07">
                <div>
                    <textarea ui-tinymce="tinymceOptions" data-ng-model="subject.NewsContent" class="mousetrap"></textarea>
                </div>
            </accordion-group>
            <accordion-group heading="Post 1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2015-11-05">
                <div>
                    Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing eaccordion-groupt, sed do eiusmod tempor incididunt ut labore et dolore magna aaccordion-groupqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aaccordion-groupquip ex ea commodo consequat.
                </div>
            </accordion-group>
        </accordion>
    </accordion-group>
    <accordion-group heading="Plan zajec">
        <div>
            Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing eaccordion-groupt, sed do eiusmod tempor incididunt ut labore et dolore magna aaccordion-groupqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aaccordion-groupquip ex ea commodo consequat.
        </div>
    </accordion-group>
    <accordion-group heading="Sylabus">
        <div>
            Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing eaccordion-groupt, sed do eiusmod tempor incididunt ut labore et dolore magna aaccordion-groupqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aaccordion-groupquip ex ea commodo consequat.
        </div>
    </accordion-group>
    <accordion-group heading="Materialy dydaktyczne">
        <div>
            Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing eaccordion-groupt, sed do eiusmod tempor incididunt ut labore et dolore magna aaccordion-groupqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aaccordion-groupquip ex ea commodo consequat.
        </div>
    </accordion-group>
    <accordion-group heading="Wyniki">
        <div>
            Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing eaccordion-groupt, sed do eiusmod tempor incididunt ut labore et dolore magna aaccordion-groupqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aaccordion-groupquip ex ea commodo consequat.
        </div>
    </accordion-group>
</accordion>