@{
    var checkEmailString = GetPhrase("checkEmail");

    ViewBag.Title = checkEmailString;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center row">        
    <p class="title" data-section-title><a href="#">@checkEmailString</a></p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}