@{
    var resetPasswordConfirmationString = GetPhrase("resetPasswordConfirmation");
    var resetPasswordConfirmationTextString = GetPhrase("resetPasswordConfirmationText");

    ViewBag.Title = resetPasswordConfirmationString;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center row">        
    <p class="title" data-section-title><a href="#">@resetPasswordConfirmationString</a></p>
    @resetPasswordConfirmationTextString
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}